<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<title>Catalog</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" media="all" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>
		<table width="100%" class="center">
			<tr align="center">
				<td width="30%"></td>
				<td align="center" width="40%"><h1 th:if="${not #lists.isEmpty(products)}">Catalog</h1></td>
				<td  width="30%"></td>
			</tr>
		</table>
		
	<!-- search bar -->
	<form th:action="@{/catalog/list}">
    Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
    &nbsp;
    <input class="btn btn-success" type="submit" value="Search" />
    &nbsp;
    <input class="btn btn-danger" type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
	</form>
	
	<!-- Clear fields -->
	<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/catalog/list}]]";
    }
	</script>
	
	<!-- Catalog list -->
	<table class="table table-striped table-hover" th:if="${not #lists.isEmpty(products)}" >
		<thead>
		<tr>
		<th>Product ID</th>
		<th>Name </th>
		<th>Description</th>
		<th>Type</th>
		<th>Category</th>
		<th>Sub Category</th>
		<th>Supplier</th>
		<th>Reorder Qty</th>
		<th>Units-In-Stock</th>
		<th>Stock Status</th>
		</tr>
		</thead>

		<tr th:each="product:${products}" class="table-row">
			<td th:text=${product.productId}>Id</td>
			<td> <a th:href="@{/catalog/details/{id}(id=${product.productId})}" th:text=${product.name}>Name</a></td>
			<td th:text=${product.description}>Description</td>
			<td th:text=${product.type}>Type</td>
			<td th:text=${product.Category}>Category</td>
			<td th:text=${product.subCategory}>Sub Category</td>
			<td th:text=${product.supplier.companyName}>Supplier Name</td>
			<td th:text=${product.reorderQty}>Reorder Qty</td>
			<td th:text=${product.stock.units}>Units-In-Stock</td>
			<td th:text=${product.stock.status}>Stock Status</td>
		</tr>
	</table>
    <br/>
	<div th:replace="fragments/general.html :: footer"></div>
	<span th:if="${session.session == 'admin'}"><a href="Home" class="btn btn-primary" th:href="@{/user/home/admin}">Home</a></span>
	<span th:if="${session.session == 'mechanic'}"><a href="Home" class="btn btn-primary" th:href="@{/user/home/mechanic}">Home</a></span>
</body>
</html>