<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<title>Catalog</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" media="all" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>
		<table width="100%" class="center">
			<tr align="center">
				<td width="30%"></td>
				<td align="center" width="40%"><h1 th:text="${product.name} + ' (ID: ' + ${product.productId} + ')' ">name</h1></td>
				<td  width="30%"></td>
			</tr>
		</table>

<table class="table1 table-striped table-hover">
	<tr><td>Id</td><td th:text=${product.productId}>Id</td><td rowspan="15"><img src="https://static.fzinternal.com/dealers/5c49fc615913c.jpg"></td></tr>
	<tr><td>Name</td><td th:text=${product.name}>Name</td></tr>
	<tr><td>Description</td><td th:text=${product.description}>Description</td></tr>
	<tr><td>Type</td><td th:text=${product.type}>Type</td></tr>
	<tr><td>Category</td><td th:text=${product.Category}>Category</td></tr>
	<tr><td>Sub Category</td><td th:text=${product.subCategory}>Sub Category</td></tr>
	<tr><td>Original Price</td><td th:text=${product.originalPrice}>Original Price</td></tr>
	<tr><td>Wholesale Price</td><td th:text=${product.wholesalePrice}>Wholesale Price</td></tr>
	<tr><td>Retail Price</td><td th:text=${product.retailPrice}>Retail Price</td></tr>
	<tr><td>Partner Price</td><td th:text=${product.partnerPrice}>Partner Price</td></tr>
	<tr><td>MOQ</td><td th:text=${product.MOQ}>MOQ</td></tr>
	<tr><td>Supplier Name</td><td th:text=${product.supplier.companyName}>Supplier Name</td></tr>
	<tr><td>Reorder Qty</td><td th:text=${product.reorderQty}>Reorder Qty</td></tr>
	<tr><td>Units-In-Stock</td><td th:text="${stock.units}">Units</td></tr>
	<tr><td>Stock Status</td><td th:text="${stock.status}">Stock Status</td></tr>
</table>

<p>
<a href="Transaction" th:href="@{/catalog/transactionhistory/{id}(id=${product.productId})}">Transaction History</a>
<a href="Home" class="btn btn-info" th:href="@{/catalog/list}">Back to Catalog</a>
<br/>
<span th:if="${session.session == 'admin'}"><a href="Home" class="btn btn-primary" th:href="@{/user/home/admin}">Home</a></span>
<span th:if="${session.session == 'mechanic'}"><a href="Home" class="btn btn-primary" th:href="@{/user/home/mechanic}">Home</a></span>
</body>
</html>