<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
	<meta charset="UTF-8" />
	<title>Reorder Form</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" media="all" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>
	<table width="100%" class="center">
		<tr align="center">
			<td width="30%"></td>
			<td align="center" width="40%"><h1>Reorder Form</h1></td>
			<td  width="30%"></td>
		</tr>
	</table>
	<form action="#" th:object="${reorder}" th:action="@{/reorders/placeorder/{id}(id = ${reorder.id})}" method="post">
		<table class="table table-striped">
			<tr>
				<th>Product Name</th>
				<td style="padding-left:50px"><input type="text" readonly th:field="*{product.name}"></td>
				<td></td>
			</tr>
			<tr>
				<th>Unit Price</th>
				<td style="padding-left:50px"><input type="text" readonly th:field="*{product.originalPrice}"></td>
				<td></td>
			</tr>
			<tr>
				<th>Supplier</th>
				<td style="padding-left:50px"><input type="text" readonly th:field="*{product.supplier.companyName}"></td>
				<td></td>
			</tr>
			<tr>
				<th>MOQ</th>
				<td style="padding-left:50px"><input type="text" readonly th:field="*{product.MOQ}"></td>
				<td></td>
			</tr>
			<tr>
				<th>Order Quantity</th>
				<td style="padding-left:50px"><input type="number" th:field="*{orderQty}"></td>
				<td style="padding-left:20px"><p th:if="${#fields.hasErrors('orderQty')}" th:errors="*{orderQty}"></p>
					<p th:text="${belowMOQ}"></p></td>
			</tr>
			<tr>
				<td></td>
				<td><button type="submit" class="btn btn-success">Place Order</button></td>
				<td></td>
			</tr>
		</table>
	</form>
	<p><a th:href="@{/reorders/list}" class="btn btn-default" >Reorders Page</a></p>
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>