<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
	<meta charset="UTF-8" />
	<title>Stock Entry Form</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" media="all" type="text/css" th:href="@{/css/stylesheet.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>
	<table width="100%" class="center">
		<tr align="center">
			<td width="30%"></td>
			<td align="center" width="40%"><h1>Stock Entry Form</h1></td>
			<td  width="30%"></td>
		</tr>
	</table>
	<div class="row" th:object="${reorder}">
  		<div class="column1">
    		<table class="table table-striped">
      			<tr>
					<th>Product Name</th>
					<td th:text="*{product.name}" style="padding-left:50px"></td>
				</tr>
				<tr>
					<th>Unit Price</th>
					<td th:text="*{product.originalPrice}" style="padding-left:50px"></td>
				</tr>
				<tr>
					<th>Supplier</th>
					<td th:text="*{product.supplier.companyName}" style="padding-left:50px"></td>
				</tr>
				<tr>
					<th>MOQ</th>
					<td th:text="*{product.MOQ}" style="padding-left:50px"></td>
				</tr>
				<tr>
					<th>Order Quantity</th>
					<td th:text="*{orderQty}" style="padding-left:50px"></td>
				</tr>
				<tr>
					<th>Date Received</th>
					<td th:text="*{dateReceived}" style="padding-left:50px"></td>
				</tr>
    		</table>
  		</div>
  		<div class="column2" style="padding-left:50px">
    		<table class="table table-striped">
      			<tr>
        			<th>Damaged Quantity</th>
        			<td th:text="*{damagedQty}" style="padding-left:50px"></td>
        		</tr>
        		<tr>
        			<th>Damage Description:</th>
        		</tr>
        		<tr>
        			<td colspan="2" th:text="*{damagedDescription}"></td>
        		</tr>
    		</table>
  		</div>
	</div>
	<p><a th:href="@{/reorders/list}" class="btn btn-default">Reorders Page</a></p>
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>