<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
	<meta charset="UTF-8" />
	<title>Select Customer</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" media="all" type="text/css" th:href="@{/css/style.css}" />
	<style>
	fieldset {
	  background-color: #eeeeee;
	}
	</style>
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>
	<table width="100%" class="center">
		<tr align="center">
			<td width="30%"></td>
			<td align="center" width="40%"><h1>Select Customer</h1></td>
			<td  width="30%"></td>
		</tr>
	</table>
	<form action="#" th:object="${transaction}" th:action="@{/usage/save}" method="post">
		<fieldset>
			<p th:text="${duplicate}"></p>
			<input type="hidden" th:field="*{id}">
		</fieldset>
		<fieldset>
			<h3>Select Car/Owner</h3>
		 	<select th:field="*{carId}">
	    		<option th:each="c : ${cars}" th:value="${c.id}" th:text="${c}" ></option>
	    	</select>
		</fieldset>		
		<fieldset>
			<input  type="submit" class="btn btn-success" value="Save" /> &nbsp; &nbsp; 
		</fieldset>
	</form>
	<br>
	<span th:if="${session.session == 'admin'}"><a href="Home" class="btn btn-primary" th:href="@{/user/home/admin}">Home</a></span>
	<span th:if="${session.session == 'mechanic'}"><a href="Home" class="btn btn-primary" th:href="@{/user/home/mechanic}">Home</a></span>
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>