
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Suppliers Listing</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>

	<h1>Supplier Listing</h1>
	<!-- Add Hyperlink -->

	<h2>There are products connected to suppliers in the database.<br>
	Please delete the products related first.</h2>
	
	<a href="AddUser.html" th:href="@{/supplier/list}">Supplier Page</a>
	<a href="AddUser.html" th:href="@{/product/list}">Product Page</a>


    <br/>
	<div th:replace="fragments/general.html :: footer"></div>
	<span th:if="${session.session == 'admin'}"><a href="Home" th:href="@{/user/home/admin}">Home</a></span>
	<span th:if="${session.session == 'mechanic'}"><a href="Home" th:href="@{/user/home/mechanic}">Home</a></span>
</body>
</html>