<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
	<meta charset="UTF-8" />
	<title>Users Listing</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" media="all" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>
	<table width="100%" class="center">
		<tr align="center">
			<td width="30%"></td>
			<td align="center" width="40%"><h1 th:if="${not #lists.isEmpty(users)}">Users Listing</h1></td>
			<td  width="30%"></td>
		</tr>
	</table>
		
	<!-- Add Hyperlink -->
	<a href="AddUser.html" class="btn btn-default" th:href="@{/user/add}">Add User</a>

	<h2 th:if="${not #lists.isEmpty(users)}">User Listing</h2>
	<table class="table table-striped table-hover" th:if="${not #lists.isEmpty(users)}" >
		<thead>
			<tr >
				<th >User Id</th>
				<th >User Name</th>
				<th >Password</th>
				<th >Email </th>
				<th> Role Type</th>
				<th >Edit Member</th>
				<th >Delete Member</th>
			</tr>
		</thead>
		<tr th:each="user:${users}" class="table-row">
			<td th:text=${user.userId}>Id</td>
			<td th:text=${user.userName}>User Name</td>
			<td th:text=${user.password}>Password</td>
			<td th:text=${user.email}>Email</td>
			<td th:text=${user.roleType}>RoleType</td>
			<td><a href="EditMember.html" class="btn btn-success"
				th:href="@{/user/edit/}+${user.userId}">Edit</a></td>
			<td><a href="DeleteUser.html" class="btn btn-danger"
				th:href="@{/user/delete/}+${user.userId}">Delete</a></td>
		</tr>
	</table>
    <br>
	<span th:if="${session.session == 'admin'}"><a href="Home" class="btn btn-primary" th:href="@{/user/home/admin}">Home</a></span>
	<span th:if="${session.session == 'mechanic'}"><a href="Home"  class="btn btn-primary" th:href="@{/user/home/mechanic}">Home</a></span>
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>